body{
  font-family: 'PT Serif', serif;
  margin:0px;
}

.container {
  display:grid;
  grid-template-columns: 1fr;
}

.test-items-wrapper {
  display:grid;
  grid-template-columns: repeat(10,1fr);
}

.thumbnail{
  height:200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid blue;
}
.nav-link-wrapper a:hover{
  color: blue;
}

.active-nav-link {
  border-bottom: 1px solid blue;
}

acive-nav-link a {
  color: blue !important;
}


/* Portfolio styles */

.portfolio-items-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
  position: relative;
}

.portfolio-img-background {
  height:350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper{
  position: absolute;
  top: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 35%;
  margin-bottom: 10px;
  font-weight: 400;
}

.img-text-wrapper .subtitle{
  transition: 1s;
  color: transparent;
  /* text-align: left; */
}

.img-text-wrapper:hover .subtitle{
  font-weight: 400;
  color: white;
}

.img-darken {
  transition: 1s;
  filter:brightness(10%);
}

/* About styles */

.two-column-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper{
  width: 50%;
}

.profile-content-wrapper{
  padding: 30px;
}

.profile-content-wrapper h1{
  color: blue;
}

/* drop down styleing */
/* Navbar container */
.navbar {
  overflow: hidden;
  /* background-color: #333; */
  font-family: 'PT Serif', serif;
}

/* Links inside the navbar */
.navbar a {
  float: left; */
  /* font-size: 16px; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {

  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
  font-size: 0.95em;
  text-transform: uppercase;
  border: none;
  height: 90%;
  padding: 1px 1px;
  font-family: 'PT Serif', serif;
  background-color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: blue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
